@import "tailwindcss";
@import "@nuxt/ui";
@import "../fonts/_font";

@theme {
  --font-sans: "Public Sans", system-ui, sans-serif;
  --font-source-serif-pro: "Source Serif Pro", system-ui, serif;
  --font-mono: "JetBrains Mono", monospace;
}
